# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
- task: DockerCompose@0
  inputs:
    containerregistrytype: 'Azure Container Registry'
    azureSubscription: 'Free Trial (5c3e183b-d791-4374-9c47-67ced35226c5)'
    azureContainerRegistry: '{"loginServer":"wwwrtrtyutui.azurecr.io", "id" : "/subscriptions/5c3e183b-d791-4374-9c47-67ced35226c5/resourceGroups/test2/providers/Microsoft.ContainerRegistry/registries/wwwrtrtyutui"}'
    dockerComposeFile: 'Dockerfile'
    action: 'Build services'


